<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File" 
            name="f" 
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}"
            keepFileOpen="false"
            encoding="iso-8859-2" />

    <target xsi:type="File"
            name="fe"
            fileName="${basedir}/logs/${shortdate}-error.log"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}"
            keepFileOpen="false"
            encoding="iso-8859-2" />
    
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" levels="Trace,Debug,Info,Warn,Error,Fatal" writeTo="f" />
    <logger name="*" levels="Error,Fatal" writeTo="fe" />
  </rules>
</nlog>