body {
    padding-top: 50px;
}

/*.delete-link {
}

.renderbody {
  padding-top: 50px;
}


.sb-slidebar {
    background-color: #e6e6e6;
}


#footer {
    margin-top: 30px; 
}


.top-spacer {
    padding-top: 10px;
}


.main {
    max-width: 320px;
    margin: 0;
}
h3 {
    text-align: left;
    line-height: 100%;
    font-size: 20px;
}*/